/* UXR/frontend/src/components/CreateQuestionOverlay/CreateQuestionOverlay.css */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.overlay-buttons {
    margin-top: 20px;
}

.overlay-buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.overlay-buttons button:hover {
    background-color: #333;
}